<section data-spy="scroll" data-target="#navbarResponsive">
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand icon mx-auto"  routerLink="contact"><img src="../assets/images/pecunia.v3.cropped.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" *ngIf="!loginFlag"><a class="nav-link" routerLink="home">Home</a></li>
            <li class="nav-item" *ngIf="!loginFlag"><a class="nav-link" routerLink="addAccount">Account</a></li>
            <li class="nav-item" *ngIf="!loginFlag"><a class="nav-link" routerLink="addloanrequest">Loan</a></li>
            <li class="nav-item" *ngIf="!loginFlag"><a class="nav-link" routerLink="passbook">Passbook</a></li>
            <li class="nav-item" *ngIf="!loginFlag"><a class="nav-link" routerLink="creditBySlip">Transfer Fund</a></li>
            <li class="nav-item" *ngIf="!loginFlag"><a class="nav-link" routerLink="contact">About Us</a></li>
            <li class="nav-item" *ngIf="!loginFlag"><a class="nav-link" (click)="doLogOut()">Log Out</a></li>


          </ul>
        </div>
      </div>
    </nav>
    </section>
<router-outlet></router-outlet>
